
.paint {
  margin-right: 30px;
  width: 280px;
  height: 330px;
  border: 1px solid #E1E1E1;

  &.paint-sold {
    filter: alpha(opacity=50);
    opacity: 0.5;
  }

  .description {
    padding: 20px;
  }

  .sold-text {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    height: 52px;
  }

  .old-price {
    text-decoration-line: line-through;
    color: #A0A0A0;

    h4 {
      font-size: 12px;
    }
  }

  .btn {
    margin-left: auto;

    img {
      margin: 0 5px 0 5px;
    }
  }

  .loader {
    width: 280px;
    height: 330px;
    position: absolute;
    background-color: grey;
    opacity: 0.5;
    text-align: center;
    display: none;

    p {
      color: white;
      font-weight: bolder;
      position: relative;
      top: 40%;
      font-size: 36px;
    }
  }
}
